@import "./style.scss";

*:not(.disconnector) > .Login {
  background-color: red;
  .wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .frame {
    @include column(600px, 60px, 20px);
  }

  h1 {
    @include txt-stl-1();
  }

  .box-input {
    @include txt-stl-2();
    @include box(600px, 60px, 2px, $col-txt-1, $col-bgd-w);
    padding: 10px;
    &:hover,
    &:focus-visible {
      border-color: $col-bgd-1;
    }
    &::placeholder {
      color: $col-txt-1;
    }
  }

  .box-btn {
    @include txt-stl-2();
    @include box(600px, 60px, 2px, $col-bgd-1, $col-bgd-1);
    color: $col-txt-w;
    :active {
      width: 99.9%;
      justify-content: center;
      align-items: center;
    }
  }
}
