@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
// $col-txt-1: #7b8692;
* {
  font-size: 16px;
}

$col-txt-b: #000000;
$col-txt-w: #ffffff;
$col-txt-g0: #dddddd;
$col-txt-g1: #cccccc;
$col-txt-g2: #808080;
$col-txt-g3: #333333;
$col-txt-1: #93278f;

$col-bgd-b: #000000;
$col-bgd-w: #ffffff;
$col-bgd-g3: #333333;
$col-bgd-1: #0061ff;
$col-bgd-1-hover: #0055df;
$col-bgd-1-pressed: #004ac2;

$col-brd-g1: #cccccc;

$col-shd-b: rgba(0, 0, 0, 0.15);

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;

@mixin txt-stl-1 {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0px;
}

@mixin txt-stl-2 {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: $font-base;
  line-height: $font-base;
  margin: 0px;
}

@mixin column($w, $h, $gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;
  > * {
    width: $w;
    height: $h;
    text-align: center;
  }
}

@mixin row($w, $h, $gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  align-items: center;
  > * {
    width: $w;
    height: $h;
  }
}

@mixin box($w, $h, $r, $col-border, $col-fill) {
  box-sizing: border-box;
  color: $col-txt-b;
  width: $w;
  height: $h;
  background: $col-fill;
  border: solid $col-border 2px;
  border-radius: $r;
}

@mixin columnWithBorder($w, $h, $gap, $col-border) {
  @include column($w, $h, 0px);
  > * {
    border-top: 1px solid $col-border;
    padding-top: ($gap / 2);
    padding-bottom: ($gap / 2);
  }
  :first-child {
    border-top: none;
    padding-top: 0px;
  }
}
