@import "../util/style.scss";

.wrapper {
  @include column(none, none, 50px);
  position: relative;
  background-color: $col-bgd-g95;
  padding-top: 50px;
  padding-bottom: 100px;
}

.title {
  @include txt-head;
  font-size: 32px;
  color: $col-bgd-g5;
}
