@import "../util/style.scss";

.wrapper {
  width: 560px;
  height: calc(100vh - 60px);
}

.modal {
  position: relative;
  @include column(560px, auto, 25px);
  @include box(560px, 100%, 15px, auto, $col-bgd-w);
  box-shadow: 7px 7px 5px $col-shd-b;
  pointer-events: auto;
}

.btn-close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 19px;
  right: 17px;
  stroke: $col-txt-g1;
  &:hover {
    stroke: $col-bgd-1-hover;
  }
  &:active {
    stroke: $col-bgd-1-pressed;
  }
}

.box-btn {
  position: absolute;
  @include box(488px, 60px, 0px, auto, $col-bgd-1);
  @include txt-stl-2;
  font-size: 1.25rem;
  bottom: 36px;
  color: $col-txt-w;
  box-shadow: 0px 0px 20px 20px $col-shd-w;
  &:hover {
    background-color: $col-bgd-1-hover;
  }
  &:active {
    background-color: $col-bgd-1-pressed;
  }
}

.close {
  background-color: antiquewhite;
}
