@import "../util/style.scss";

.wrapper {
  @include columnWithBorder(488px, auto, 50px, $col-brd-g1);
  margin-top: 36px;
  margin-bottom: (36px + 60px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  * {
    @include txt-stl-2();
    text-align: left;
    color: $col-txt-g3;
  }
}

.block {
  padding-left: 11px;
  padding-right: 11px;
}

.primary {
  @include column(auto, auto, 23px);
  align-items: flex-start;
}

.with-info {
  @include row(auto, auto, 5px);
}

.info-frame {
  display: flex;
  position: relative;
  white-space: nowrap;
}

.info {
  color: $col-txt-g1;
  &:hover {
    color: $col-txt-g2;
  }
}

.info-window {
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);
}

.secondary,
.construction {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: dense;
  row-gap: 23px;
}

.bldg-info {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-auto-flow: dense;
  row-gap: 23px;
}

.construction > :first-child {
  grid-column: auto / span 2;
}

.addr1 {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.addr2 {
  margin-top: 10px;
  font-weight: 300;
}

.keys {
  font-weight: 700;
}

.vals {
  margin-top: 10px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 300;
}

.emph {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: $col-txt-1;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}
