@import "../pages/style.scss";

.wrapper {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 590px;
  height: 100vh;
  pointer-events: none;
}

.modal {
  @include column(560px, auto, 25px);
  @include box(560px, calc(100vh - 60px), 15px, auto, $col-bgd-w);
  margin: 30px;
  box-shadow: 7px 7px 5px $col-shd-b;
  pointer-events: auto;
}
