@import "../util/style.scss";

.wrapper {
  @include columnWithBorder(400px, auto, 36px, $col-brd-g8);
  margin-bottom: 200; 
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.frame {
  &-column {
    @include column(100%, auto, 18px);
  }
  &-div1 {
    @include row(100%, auto, 0px);
    > * {
      overflow: nowrap;
    }
    align-items: flex-start;
  }
  &-div2 {
    @include row(50%, auto, 0px);
    > * {
      overflow: nowrap;
    }
    align-items: flex-start;
  }
  &-div4 {
    @include row(25%, auto, 0px);
    > * {
      overflow: nowrap;
    }
    align-items: flex-start;
  }
}