@import "../util/style.scss";

.wrapper {
  @include box(583px, 326px, 0px, none, $col-bgd-w);
  @include column(calc(100%), 16px, 10px);
  padding: 30px;
  justify-content: space-between;
}

.title-field {
  @include row(auto, 26px, 0px);
  justify-content: space-between;
}

.btn-close {
  width: 16px;
  height: 16px;
  stroke: $col-txt-g1;
  &:hover {
    stroke: $col-bgd-1-hover;
  }
  &:active {
    stroke: $col-bgd-1-pressed;
  }
}

.modal {
  @include textBox(300px, 30px, 15px, none, $col-bgd-w);
  @include txt-stl-2;
  align-items: center;
  text-align: center;
  pointer-events: auto;
  box-shadow: 7px 7px 5px $col-shd-b;
}
