@import "../util/style.scss";

.wrapper {
  position: fixed;
  @include textBox(100%, 100vh, 0px, none, rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100vh;
  top: 0;
}

.close {
  animation: fadeout 1s;
  pointer-events: none;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
