@import "../util/style.scss";

.wrapper {
  @include box(100%, 58px, 0px, none, $col-bgd-w);
  @include row(auto, 58px, 0px);
  border-bottom: 1px solid $col-brd-g8;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
}

.frame-left {
  @include row(auto, auto, 15px);
  margin-left: 34px;
}

.frame-right {
  @include row(auto, auto, 10px);
  margin-right: 11px;
}

.title-frame{
  position: absolute;
  width: 100%;
  @include row(auto, auto, 25px);
  justify-content: center;
  pointer-events: none;
}

.title{
  @include txt-bold();
  @include txt-21();
  color: $col-txt-g2;
}

.sub-title{
  @include txt-bold();
  @include txt-19();
  color: $col-txt-g7;
}

.navigation {
  @include row(auto, 40px, 0px);
  &.emph {
    color: blue;
  }
  & > * {
    @include textBox(auto, 40px, 0px, $col-brd-g8, $col-bgd-w);
    padding: 8px 16px;
    &:hover:not(.emph) {
      background-color: $col-bgd-g95;
    }
    &.emph {
      border-color: $col-bgd-2;
      color: $col-txt-2;
    }
  }
  & > :first-child {
    border-radius: 2px 0px 0px 2px;
  }
  & > :not(:first-child) {
    border-left: 0px;
  }
  & > :last-child {
    border-radius: 0px 2px 2px 0px;
  }
}
